.App {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #37474f;
  color: white;
}

.draw {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}